@import './utils/variables';
@import './utils/mixin';

@import './base/common';
@import './base/section';
@import './base/container';

@import './components/pattern_visualy-hidden';
@import './components/button';
@import './components/is-hidden';

@import './layout/logo_header';
@import './layout/header';
@import './layout/hero';
@import './layout/features';
@import './layout/examples';
@import './layout/team';
@import './components/socialmedia_list';
@import './layout/clients';
@import './layout/footer';
@import './layout/logo_footer';
@import './layout/backdrop';
@import './layout/portfolio-page';
