.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 400ms ease-in, visibility 400ms ease-in;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white);
}

.modal-close-btn {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;

  &:hover {
    fill: var(--accent-color);
  }
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--maine);
  margin-bottom: 12px;
  text-align: center;
}

.form-label {
  display: block;
  margin-bottom: 4px;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  font: inherit;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--transition-time) var(--transition-timing-function);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.modal-form-label-desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  color: #000;

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-checkbox-desc {
  position: relative;
  margin-bottom: 30px;
}

.modal-terms-field {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7px;
  transition: fill var(--transition-time) var(--transition-timing-function);

  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-checkbox-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  line-height: 1.71;
}

.form-icon-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--maine);
  cursor: pointer;
  border-radius: 3px;
  margin-right: 7px;
  fill: transparent;

  .modal-form-checkbox:checked + & {
    background-color: var(--accent-color);
    border: none;
  }

  .modal-form-checkbox:checked + & {
    box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.5);
  }
}

.form-icon-checkbox-icon {
  display: none;
  fill: var(--transition-timing-function);

  .modal-form-checkbox:checked + .form-icon-checkbox > & {
    display: block;
  }
}

.modal-form-checkbox {
  position: absolute;
  appearance: none;
}

.modal-terms {
  color: var(--accent-color);
}

.button.form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
