.clients__title {
  @include font(28px, 700, 33px);
  text-align: center;
  margin-bottom: 50px;
  color: var(--maine);
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}

.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid var(--bgc);
  border-radius: 4px;
  background-color: var(--white);
  transition: border var(--transition-time) var(--transition-timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.clients__logo {
  fill: var(--bgc);
  transition: fill var(--transition-time) var(--transition-timing-function);

  .clients__item:hover &,
  .clients__item:focus & {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 480px) {
  .clients__list.list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .clients__item {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .clients__list.list {
    display: flex;
    column-gap: 30px;
  }
  .clients__item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
  .clients__title {
    @include font(36px, 700, 42px);
  }
}
