.examples-title {
  @include font(36px, 700, 42px);
  color: var(--maine);
  text-align: center;
  margin-bottom: 50px;
}

.examples-list {
  &.list {
    position: relative;
    display: flex;
    column-gap: 30px;
  }
}

.examples-img-item {
  position: relative;
}

.overlay-text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: var(--white);
  z-index: 4;
}

.examples-overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0px;
  background-color: rgba(47, 48, 58, 0.8);
}
