.footer {
  padding: 60px 0;
  background-color: var(--background-color-dark);
}
.footer > .container .footer__logo {
  @include font(26px, 700, 31px);
  font-family: 'Raleway', sans-serif;
  color: var(--accent-color);
  transition: color var(--transition-time) var(--transition-timing-function);
}

.footer__input {
  display: block;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  // margin-right: 12px;
  background-color: transparent;
  color: var(--white);
}

@media screen and (min-width: 480px) {
  // .footer {
  //   .container {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //   }
  // }
  .footer__left {
    text-align: center;
  }

  .footer__input {
    width: 450px;
    margin-bottom: 20px;
    display: block;
    @include margin-auto;
  }

  .address__item {
    margin-bottom: 8px;
  }

  .address__location {
    margin-bottom: 8px;
  }
  .footer__title {
    margin-top: 60px;
    text-align: center;
  }

  .footer__form > .button {
    position: relative;
    display: block;
    @include margin-auto;
  }

  .footer__form > .button {
    padding-right: 62px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    .container {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      flex-wrap: wrap;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    .container {
      display: flex;
      align-items: baseline;
    }
    .footer__left {
      margin-right: 70px;
    }
    .footer__form-wrapper {
      margin-left: auto;
    }

    .footer__form > .button {
      padding-right: 62px;
    }

    .footer__form {
      position: relative;
      display: flex;
    }

    .footer__input {
      width: 358px;
      margin-right: 12px;
    }
  }
  .footer__left {
    margin-right: 70px;
  }
  .footer__form-wrapper {
    margin-left: auto;
  }

  .footer__form > .button {
    padding-right: 62px;
  }

  .footer__form {
    position: relative;
    display: flex;
  }

  .footer__input {
    width: 358px;
    margin-right: 12px;
  }

  .address__location {
    margin-bottom: 9px;
  }
  .address__item {
    margin-bottom: 9px;
  }
}

.adress_list {
  font-style: normal;
  line-height: 1.71;
  color: var(--white);
}

.address__location {
  display: inline-block;
  line-height: 24px;
  color: var(--white);
  transition: color var(--transition-time) var(--transition-timing-function);
}

.address__contact {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-time) var(--transition-timing-function);
}

.address :hover,
.address :focus {
  color: var(--accent-color);
}

.footer__title {
  @include font(14px, 700, 16px);
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white);
}

.socialmedia-list__item.footer-page {
  background-color: rgba(255, 255, 255, 0.1);
}

.socialmedia-list__footer-icon {
  fill: var(--white);
  transition: background-color var(--transition-time) var(--transition-timing-function);
}

.socialmedia-list__item.footer-page:hover,
.socialmedia-list__item.footer-page:focus {
  background-color: var(--accent-color);
}

.footer__right > .socialmedia-list {
  margin-bottom: 0;
}

.footer__icon-send {
  position: absolute;
  bottom: 13px;
  right: 28px;
}
