.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  @include font(44px, 900, 60px);
  letter-spacing: 0.06em;
  color: var(--white);
}

.hero {
  @include margin-auto;
  background-color: #c4c4c4;
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  max-width: 1600px;
}
