.projects {
  background-color: var(--white);
}

.projects__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__link {
  display: block;
  transition: box-shadow var(--transition-time) var(--transition-timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects__wrapper {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  @include font(18px, 400, 28px);
  position: absolute;
    text-align: left;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform var(--transition-time) var(--transition-timing-function);
  color: var(--white);
  background-color: rgba(33, 150, 243, 0.9);

  .projects__link:hover &,
  .projects__link:focus & {
    transform: translate(0);
  }
}

.projects__buttons-filter-item {
  @include font(16px, 500, 26px);
  font-family: var(--primery-font-family);
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  background-color: var(--background-secondary-color);

  transition: color var(--transition-time) var(--transition-timing-function),
    background-color var(--transition-time) var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--white);
    background-color: var(--accent-color);
  }
}

.projects__buttons-filter.list {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 50px;
}

.projects__title {
  @include font(18px, 700, 36px);
  margin-bottom: 4px;
  color: var(--maine);
  letter-spacing: 0.06em;
}

.projects__text {
  @include font(16px, 400, 30px);
  color: var(--text);
}

.project__description {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 20px 24px;
}
