.socialmedia-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 30px;
}

.socialmedia-list__icon {
  fill: var(--bgc);
  background-color: transparent;

  .socialmedia-list__item:hover &,
  .socialmedia-list__item:focus & {
    fill: var(--white);
  }
}

.socialmedia-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color var(--transition-time) var(--transition-timing-function),
    fill var(--transition-time) var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
