:root {
  --accent-color: #2196f3;
  --accent-btn-color: #188ce8;
  --text: #757575;
  --white: #ffffff;
  --maine: #212121;
  --background-secondary-color: #f5f4fa;
  --primery-font-family: Roboto, sans-serif;
  --background-color-dark: #2f303a;
  --header-border: #ececec;
  --border-color: #eeeeee;
  --bgc: #afb1b8;
  --transition-time: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
